.header-options {
  display: flex;
  position: relative;
  font-size: 2rem;
  gap: 5rem;
  box-sizing: border-box;
  height: 4rem;
  width: inherit;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
.current-element-selected {
  position: relative;

  bottom: 1.25rem;
  font-family: cursive;
}
.menu-button {
  background-color: #cad3c8;
  position: relative;
  border-radius: 50%;
  padding: 0.25rem;
  top: 0.75rem;
  left: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

/* .glow {
  color: black;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000,
      0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 40px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */

.glow {
  color: green;
}
.pen-color-pallete {
  position: relative;
  top: 1rem;
}
.pen-pointer {
  position: relative;
}
